* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(19, 15, 22);
}

.judul {
  position: relative;
  z-index: 2;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: hsl(220, 25%, 10%);
  
}
h2{
  font-size: 30px;
  color: #0e3742;
  text-align: center;
  -webkit-box-reflect: below -10px linear-gradient(transparent, #0004);
}
.jdl{
  animation: animate 5s linear infinite;
  margin: 0 5px; 
}
.jdl:nth-child(even){
  animation-delay: 0.4s;
}
@keyframes animate{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
  {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
    0 0 400px #03bcf4;
  }
}

nav {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background: hsl(220, 25%, 10%);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  
}

nav a {
  background-color: rgb(33, 26, 37);
  font-weight: bold;
  color: hsl(218, 25%, 6%);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 0px 11px 0px rgb(15, 15, 15);
  text-decoration: none;
}

nav a:hover {
  background-color: hsl(226, 27%, 18%);
  border-radius: 10px;
  padding: 15px 2px;
}

.slideimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: rgb(19, 15, 22);
}

.item {
  position: absolute;
  display: flexbox;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 1;
  box-shadow:  0px 0px 90px 0px rgb(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 100px -3px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.3;
  transform: translate(-115%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.3;
  transform: translate(25%, -50%);
}

.button-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  z-index: 100;
}

.button {
  color: rgb(255, 255, 255);
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button:hover {
  opacity: 1;
}

.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button:nth-child(1) {
  float: left;
}

.button:nth-child(2) {
  float: right;
}


section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(19, 15, 22);

}

article {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(33, 26, 37);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsl(240, 33%, 1%);
}

.card{
  width: calc(300px / 1.5);
  height: 190px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  perspective: 2500px;
}
.cover-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper{
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;

}
.card:hover .wrapper{
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after{
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  border-radius: 10px;
}
.wrapper::before{
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%,rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}
.wrapper::after{
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}
.card:hover .wrapper::before,
.wrapper::after{
  opacity: 1;
}
.card:hover .wrapper::after {
  height: 120px;
}

.character{
  opacity: 0;
  transition: all 0.5s;
  display: block;
  position: absolute;
  height: 170px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.card:hover .character{
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn-readmore {
  background-color: rgb(33, 26, 37);
  color: hsl(210, 25%, 2%);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 0px 11px 0px rgb(15, 15, 15);
  text-decoration: none;
}

.btn-readmore:hover {
  background-color: rgb(33, 26, 37);
  box-shadow: 0px 0px 10px hsl(240, 19%, 45%);
}

.slide label::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 auto 5px;
  background-color: #00ffcf;
}

.slide label:hover {
  opacity: 0.8;
}

.toggle:checked+label::before {
  background-color: #fff;
}

.clear {
  clear: both;
}

hr{
  border: 3px rgb(54, 42, 65) solid;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.body-img2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: rgb(19, 15, 22);
	padding: 4rem;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crd{
	margin: 1rem;
	position: relative;
	width: 34rem;
	height: 50rem;
	overflow: hidden;
  border-radius: 5px;
}
.crd-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.crd-info{
	color: hsl(0, 0%, 90%);
	position: absolute;
	bottom: 40px;
	left: 30px;
}

.crd-heading{
	font-size: 3rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: .8;
	font-weight: 900;
}
.crd-text{
	font-size: 1.6rem;
	opacity: .6;
	padding-left: 1rem;
}

/* effect-1 */
.crd--effect-1 .crd-img{
	transform: scale(.9);
	transition: .4s;
}
.crd--effect-1:hover .crd-img{
	transform: scale(1);
}

/* effect-2 */
.crd--effect-2 .crd-info{
	top: 50%;
	left: 50%;
	bottom: unset;
	text-align: center;
	transform: translate(-50%, -50%);
}
.crd--effect-2 .crd-heading{
	transform: scale(2);
	opacity: 0;
	transition: .5s;
}
.crd--effect-2 .crd-text{
	padding-left: 0;
	transform: scale(1.2);
	opacity: 0;
	transition: .4s;
}
.crd--effect-2:hover .crd-heading{
	opacity: .8;
	transform: scale(1);
}
.crd--effect-2:hover .crd-text{
	opacity: .6;
	transform: scale(1);
}

/* effect-3 */
.crd--effect-3 .crd-heading{
	position: relative;
	color: hsla(0, 0%, 90%, .5);
}
.crd--effect-3 .crd-heading span{
	color: hsl(0, 0%, 90%);
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transform: scale(1.4);
	transition: .5s;
}
.crd--effect-3:hover .crd-heading span{
	opacity: 1;
	transform: scale(1);
}
.crd--effect-3 .crd-info{
	text-align: right;
	right: 30px;
	left: unset;
}
.crd--effect-3 .crd-text{
	padding-left: 0;
	padding-right: 1rem;
}
.crd--effect-3 .crd-img{
	transition: .5s;
}
.crd--effect-3:hover .crd-img{
	transform: scale(.9);
}

/* effect-4 */
.crd--effect-4{
	display: block;
	width: 100%;
	max-width: 80rem;
}
.crd--effect-4 .crd-img{
	transition: .8s;
}
.crd--effect-4:hover .crd-img{
	filter: saturate(0);
}
.crd--effect-4 .crd-heading{
	transition: .9s;
}
.crd--effect-4:hover .crd-heading{
	color: hsl(194, 93%, 52%);
}

h4{
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.main-a {
  max-width: 960px;
  margin: 0 auto;
}

.section-a {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.column-a {
  flex-basis: calc(50% - 20px);
}

h5 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.p-a {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul, ol {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px 20px;
}

li {
  margin-bottom: 10px;
}

.img-a {
  max-width: 100%;
  border-radius: 5px;
}  

.img-ab {
  max-width: 50%;
  border-radius: 5px;
  display: block;
  margin: auto;
} 

footer {
  padding: 20px;
  background-color: hsl(220, 25%, 10%);
  text-align: center;
  font-weight: bold;
}
